name: Daily Tests
on:
  schedule:
    - cron: "0 7 * * *"
  # Run around midnight Pacific time.
  # GitHub runs crons on UTC time.
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4

      - name: install-ubuntu
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: |
          /bin/bash -c "$(curl -fsSL https://cli.moonbitlang.com/install/unix.sh)"
          echo "/home/runner/.moon/bin" >> $GITHUB_PATH

      - name: moon version
        run: |
          moon version --all
          moonrun --version

      - name: moon update
        run: moon update

      - name: moon check
        run: moon check

      - name: moon info
        run: |
          moon info
          git diff --exit-code

      - name: moon test
        run: |
          moon test --target wasm
          moon test --target js

      - name: format diff
        run: |
          moon fmt
          git diff --exit-code
